
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.pdb
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.exe
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.csproj.SuggestedBindingRedirects.cache
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.csproj.FileListAbsolute.txt
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.csproj.CoreCompileInputs.cache
AdventOfCode/AdventOfCode/obj/Debug/AdventOfCode.csproj.AssemblyReference.cache
AdventOfCode/AdventOfCode/bin/Debug/AdventOfCode.pdb
AdventOfCode/AdventOfCode/bin/Debug/AdventOfCode.exe
AdventOfCode/AdventOfCode/AdventOfCode.csproj
AdventOfCode/AdventOfCode.sln
AdventOfCode/.idea/.idea.AdventOfCode/.idea/vcs.xml
AdventOfCode/.idea/.idea.AdventOfCode/.idea/indexLayout.xml
AdventOfCode/.idea/.idea.AdventOfCode/.idea/encodings.xml
